{% extends "base.html" %}

{% block content %}
<h3>Agenda</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Doctor</th>
        <th scope="col">Ticket</th>
        <th scope="col">Start time</th>
        <th scope="col">End time</th>
    </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.user_doctor.username }}</td>
                <td>{{ appointment.ticket.title }}</td>
                <td>{{ appointment.slot.start_time }}</td>
                <td>{{ appointment.slot.end_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}