<!DOCTYPE html>
<html>
    <head>
        <title>Doctolib</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/accounts/login">Login</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock content %}
        </main>

        <footer></footer>
    </body>
</html>