<!DOCTYPE html>
<html>
    <head>
        <title>Doctolib</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="/accounts/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/accounts/login/">Login</a></li>
                        <li><a href="/accounts/register/">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock content %}
        </main>

        <footer></footer>
    </body>
</html>